

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(78, 78, 208);

}

.item{
    font-size: 1.5rem;
    position: fixed;
    top: -30px;
    animation-name: fall;
    animation-timing-function: linear;

}

@keyframes fall {
    from{
        transform: translateY(0);

    }
    to{
        transform: translateY(110vh)
    }
    
}


